<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">	
	<!-- Filters -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
		
	<welcome-file-list>
		<welcome-file>jsp/tasdes/tasdesnedir.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet id="yorumEkle">
		<servlet-name>yorumEkle</servlet-name>
		<servlet-class>com.ilkerkonar.td.desen.servlet.YorumEkleServlet</servlet-class>
	</servlet>
	
	<servlet id="girisKontrol">
		<servlet-name>girisKontrol</servlet-name>
		<servlet-class>com.ilkerkonar.td.desen.servlet.GirisKontrolServlet</servlet-class>
	</servlet>
	
	<servlet id="giris">
		<servlet-name>giris</servlet-name>
		<servlet-class>com.ilkerkonar.td.desen.servlet.GirisServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>yorumEkle</servlet-name>
		<url-pattern>/yorumEkle</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>girisKontrol</servlet-name>
		<url-pattern>/girisKontrol</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>giris</servlet-name>
		<url-pattern>/giris</url-pattern>
	</servlet-mapping>
	
</web-app>
